body {
  background-color: #17171a;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  float: left;
}

.links a {
  padding-left: 6.25rem;
  padding-top: 0.31rem;
}

.links a:hover {
  color: #febf32;
}

.brand text {
  height: 51px;
  width: 179px;
  left: 29px;
  top: 42px;
}

#icon i {
  color: #febf32;
}

#icon li {
  margin-left: 1050px;
}

.brand a:link {
  padding-left: 1.25rem;
  background: linear-gradient(
    to right,
    rgb(81, 209, 81) 60%,
    rgb(243, 243, 141),
    rgb(238, 186, 89),
    rgb(250, 132, 22)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.wrapper {
  background: #20222b;
  display: flex;
  position: absolute;
  height: auto;
  width: 175px;
  left: 0px;
  top: 140px;
  border-radius: 5px;
}

.wrapper .sidebar-left ul {
  list-style: none;
}

.wrapper .sidebar-left ul li a {
  text-decoration: none;
  color: #abafc4;
  margin-left: -25px;
  font-size: 24px;
}

.wrapper .sidebar-left ul li a i {
  padding-right: 15px;
}

.wrapper .sidebar-left ul li {
  padding: 18px;
  padding-left: 1px;
}

.wrapper .sidebar-left ul li a:hover {
  color: #febf32;
}

.sidebar-left img {
  position: absolute;
  width: 172px;
  height: 0px;
  left: 0px;
  top: 80px;
  border: 1px solid #febf32;
}

.card img {
  background: white;
  position: absolute;
  width: 357px;
  height: 209px;
  left: 250px;
  top: 140px;
  background: linear-gradient(180deg, #07c86b 0%, #159a5a 100%);
  border-radius: 15px;
}

.text1 {
  position: absolute;
  width: 106px;
  height: 24px;
  left: 268px;
  top: 140px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.text2 {
  position: absolute;
  width: 156px;
  height: 50px;
  left: 270px;
  top: 145px;

  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;

  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.035em;

  color: #ffffff;
}

.btn1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 19px;

  position: absolute;
  height: 30px;
  width: 115px;
  left: 265px;
  right: 958px;
  top: 285px;

  /* Primary/5 */
  background: #febf32;
  border-radius: 8px;
}

.btn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 19px;

  position: absolute;
  height: 30px;
  width: 120px;
  left: 438px;
  right: 794px;
  top: 285px;

  background: #242632;
  border-radius: 8px;
  color: #abafc4;
}

#ellipse1 {
  box-sizing: border-box;
  position: absolute;
  width: 170px;
  height: 110px;
  left: 250px;
  top: 240px;
  opacity: 0.8;
}

#ellipse2 {
  box-sizing: border-box;
  position: absolute;
  width: 135px;
  height: 120px;
  left: 472px;
  top: 140px;
  opacity: 0.8;
}

#wallet {
  position: absolute;
  left: 39.6%;
  right: 5.83%;
  top: 25.21%;
  bottom: 75.59%;
}

#rupee {
  position: absolute;
  left: 40.5%;
  right: 56.48%;
  top: 27.55%;
  bottom: 76%;
}

.trans {
  position: absolute;
  width: 166px;
  height: 36px;
  left: 260px;
  top: 360px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.text3 {
  position: absolute;
  width: 49px;
  height: 18px;
  left: 750px;
  top: 383px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #febf32;
}

#rect {
  position: absolute;
  width: 370px;
  height: 400px;
  left: 995px;
  top: -25px;
}

.text4 {
  position: absolute;
  width: 184px;
  height: 24px;
  left: 985px;
  top: -10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#placeholder {
  position: absolute;
  width: 325px;
  left: 1023px;
  right: 50px;
  top: 45px;
  bottom: 70.61%;
  border: 1px solid #2a2d3c;
  border-radius: 8px;
}

.btn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  position: absolute;
  left: 1026px;
  top: 155px;
  color: #febf32;
  font-size: 11px;
  font-weight: 600;
  background: #2a2d3c;
  border-radius: 5px;
}

.btn4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  position: absolute;
  left: 1105px;
  top: 155px;
  color: #febf32;
  font-size: 11px;
  font-weight: 600;
  background: #2a2d3c;
  border-radius: 5px;
}

.btn5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  position: absolute;
  left: 1186px;
  top: 155px;
  color: #febf32;
  font-size: 11px;
  font-weight: 600;
  background: #2a2d3c;
  border-radius: 5px;
}

.btn6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  position: absolute;
  left: 1270px;
  top: 155px;
  color: #000000;
  font-size: 11px;
  font-weight: 600;
  background: #07e57d;
  border-radius: 5px;
}

.text5 {
  position: absolute;
  width: 60px;
  height: 20px;
  left: 1200px;
  top: 115px;
  font-weight: 600;
  font-size: 13px;
  background: linear-gradient(
    91.26deg,
    #72f6d1 0%,
    #07e57d 21.87%,
    #a0ed8d 55.73%,
    #fed365 81.77%,
    #faa49e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  position: absolute;
  width: 295px;
  height: 35px;
  left: 1025px;
  top: 210px;
  background: rgba(255, 213, 5, 0.25);
  /* Bg-Blur/1 */
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}

.confirm i {
  position: absolute;
  font-size: 35px;
  left: 3.33%;
  right: 8.33%;
  top: 22.34%;
  bottom: 4.17%;
  color: #febf32;
}

.confirm #p1 {
  padding-left: 40px;
  height: 45px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 150% */
  font-feature-settings: "pnum" on, "lnum" on;
  /* White */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.confirm #p2 {
  position: absolute;
  padding-top: 10px;
  width: px;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #abafc4;
  top: 20%;
  left: 18%;
}

.confirm #p3 {
  position: absolute;
  width: 82px;
  height: 18px;
  left: 238px;
  top: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #febf32;
}

.confirm #btn7 {
  justify-content: center;
  align-items: center;
  padding: 12px 120px;
  position: relative;
  left: -215px;
  right: 47px;
  top: 75px;
  background: #07e67d;
  box-shadow: 0px 0px 30px rgba(14, 173, 98, 0.3);
  border-radius: 8px;
}

.history {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 475.35px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history #img1 {
  position: absolute;
  left: -55.18%;
  top: -290.39%;
  height: 25px;
}

.history #img2 {
  position: absolute;
  left: -50%;
  top: -215%;
  color: #febf32;
}

.history h4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  top: -62px;
  left: -30px;
}

.history p {
  position: absolute;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: -25px;
  left: -30px;
}

#money {
  position: absolute;
  width: 65px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #ffffff;
  left: 257%;
}

.history1 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 475.35px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history1 #img1 {
  position: relative;
  left: -96.18%;
  top: +250.39%;
  height: 25px;
}

.history1 #img3 {
  position: absolute;
  left: -78px;
  top: 38px;
  color: #febf32;
}

.history1 h4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  left: -30px;
}

.history1 p {
  position: relative;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: +10px;
  left: -40px;
}

.history1 #money {
  color:#32F033;
}

.history2 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 530.35px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history2 #img1 {
  position: relative;
  left: -96.18%;
  top: +250.39%;
  height: 25px;
}

.history2 #img4 {
  position: absolute;
  left: -78px;
  top: 38px;
  color: #febf32;
}

.history2 h4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  left: -30px;
}

.history2 p {
  position: relative;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: +10px;
  left: -40px;
}

.history2 #money {
  padding-left: 10px;
  color:#EA3943;
}
 
#fail {
  top: -25px;
  padding-left: 54.5rem;
  font-size: 11px;
}
 
#fail img{
  padding-right: 8px;
  height: 10px;
}

.history3 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 590.35px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history3 #img1 {
  position: relative;
  left: -96.18%;
  top: +250.39%;
  height: 25px;
}

.history3 #img3 {
  position: absolute;
  left: -78px;
  top: 38px;
  color: #febf32;
}

.history3 h4 {
  position: absolute;
  width: 500.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  left: -30px;
}

.history3 p {
  position: relative;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: +10px;
  left: -40px;
}

.history3 #money {
  color:#32F033;
}

.history4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 710.35px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history4 #img1 {
  position: absolute;
  left: -55.18%;
  top: -290.39%;
  height: 25px;
}

.history4 #img4 {
  position: absolute;
  left: -51%;
  top: -215%;
  color: #febf32;
}

.history4 h4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  top: -62px;
  left: -30px;
}

.history4 p {
  position: absolute;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: -25px;
  left: -30px;
}

.history4 #money {
  color: #EA3943;
  left: 263%;
}

.history4 #fail {
  top: -25px;
  font-size: 11px;
  left: -465px;
}
 
.history5 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 705.35px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history5 #img1 {
  position: relative;
  left: -96.18%;
  top: +250.39%;
  height: 25px;
}

.history5 #img3 {
  position: absolute;
  left: -78px;
  top: 38px;
  color: #febf32;
}

.history5 h4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  left: -30px;
}

.history5 p {
  position: relative;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: +10px;
  left: -40px;
}

.history5 #money {
  color:#32F033;
}

.history6 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  left: 343.36px;
  top: 820.35px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.history6 #img1 {
  position: absolute;
  left: -55.18%;
  top: -290.39%;
  height: 25px;
}

.history6 #img2 {
  position: absolute;
  left: -50%;
  top: -215%;
  color: #febf32;
}

.history6 h4 {
  position: absolute;
  width: 155.4px;
  height: 11.44px;
  font-weight: 600;
  font-size: 17.1603px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  top: -62px;
  left: -30px;
}

.history6 p {
  position: absolute;
  width: 133px;
  height: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #cccdcc;
  top: -25px;
  left: -30px;
}

